[package]
name = "ble-adv"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
bytemuck = { version = "1.24.0", default-features = false, features = ["derive"] }
defmt = { version = "1.0.1", default-features = false, optional = true }

[features]
defmt = ["dep:defmt"]

[lints]
clippy.mod-module-files = "warn"
clippy.uninlined_format_args = "allow"
clippy.unit-arg = "allow"
rust.unused-crate-dependencies = "warn"
