[package]
name = "schema"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
anyhow = "1.0.97"
tokio = { version = "1.44.0", features = ["full"] }
wasefire-cli-tools = { path = "../../../cli-tools" }
wasefire-error = { path = "../../../error" }
wasefire-protocol = { path = "../..", features = ["_descriptor"] }
wasefire-wire = { path = "../../../wire", features = ["schema"] }

[features]
device = ["wasefire-protocol/device"]
host = ["wasefire-protocol/host"]

[lints]
clippy.literal-string-with-formatting-args = "allow"
clippy.mod-module-files = "warn"
clippy.unit-arg = "allow"
rust.unreachable-pub = "warn"
rust.unused-crate-dependencies = "warn"
