[package]
name = "wasefire-logger"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
defmt = { version = "0.3.2", optional = true }
lazy_static = { version = "1.4.0", optional = true }
log = { version = "0.4.17", optional = true }

[features]
defmt = ["dep:defmt"]
log = ["dep:lazy_static", "dep:log"]
