[package]
name = "wasefire-logger"
version = "0.1.3-git"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = true
edition = "2021"
description = "Wasefire platform logging"
repository = "https://github.com/google/wasefire"
include = ["/src"]
keywords = ["embedded", "framework", "no-std", "wasm"]
categories = ["embedded", "no-std", "wasm"]

[dependencies]
defmt = { version = "0.3.5", default-features = false, optional = true }
log = { version = "0.4.19", default-features = false, optional = true }

[features]
defmt = ["dep:defmt"]
log = ["dep:log"]
