[submodule "third_party/SchemaStore/schemastore"]
	path = third_party/SchemaStore/schemastore
	url = https://github.com/SchemaStore/schemastore.git
[submodule "third_party/WebAssembly/spec"]
	path = third_party/WebAssembly/spec
	url = https://github.com/WebAssembly/spec.git
[submodule "third_party/lowRISC/opentitan"]
	path = third_party/lowRISC/opentitan
	url = https://github.com/lowRISC/opentitan.git
[submodule "third_party/rust-lang/rustup"]
	path = third_party/rust-lang/rustup
	url = https://github.com/rust-lang/rustup.git
[submodule "third_party/wasm3/wasm-coremark"]
	path = third_party/wasm3/wasm-coremark
	url = https://github.com/wasm3/wasm-coremark.git
