# All files are assumed to be reviewed in a printed form by default.
* textreview
# Binary files are not reviewed in printed form.
*.bin -textreview
*.pdf -textreview
*.png -textreview
# Submodules are not reviewed in printed form.
/third_party/** -textreview
