[package]
name = "hash_test"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
digest = { version = "0.10.7", default-features = false, optional = true }
wasefire = { path = "../../../crates/prelude" }
wasefire-stub = { path = "../../../crates/stub", optional = true }

[features]
native = ["dep:wasefire-stub", "wasefire/native"]
rust-crypto = ["dep:digest", "wasefire/rust-crypto"]
