[package]
name = "gcm_test"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2024"

[dependencies]
aead = { version = "0.5.2", default-features = false, features = ["alloc"], optional = true }
wasefire = { path = "../../../crates/prelude" }

[features]
rust-crypto = ["dep:aead", "wasefire/rust-crypto"]
