[package]
name = "wasefire-scheduler"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
defmt = { version = "0.3.2", optional = true }
wasefire-applet-api = { version = "0.1.0", path = "../api", features = ["host"] }
wasefire-board-api = { version = "0.1.0", path = "../board" }
wasefire-logger = { version = "0.1.0", path = "../logger" }
wasefire-store = { version = "0.1.0", path = "../store" }

[dependencies.wasefire-interpreter]
version = "0.1.0"
path = "../interpreter"
# TODO: Make those configurable.
# features = ["toctou", "float-types"]  # 109ms .text=91K
features = ["toctou"] # 100ms .text=79K
# features = []  # 89ms .text=78K
# features = ["cache"]  # 92ms .text=82K

[features]
defmt = ["dep:defmt", "wasefire-board-api/defmt", "wasefire-logger/defmt"]
log = ["wasefire-logger/log"]
std = ["wasefire-store/std"]
# std = ["wasefire-interpreter/debug"]
