[package]
name = "runner-host"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
aes = "0.8.2"
anyhow = "1.0.68"
api = { path = "../api", features = ["host"] }
board = { path = "../board", features = ["std"] }
ccm = { version = "0.5.0", features = ["std"] }
env_logger = "0.10.0"
interpreter = { path = "../interpreter" }
logger = { path = "../logger" }
rand = "0.8.5"
scheduler = { path = "../scheduler", features = ["std"] }
store = { path = "../store", features = ["std"] }
tokio = { version = "1.24.2", features = ["full"] }
usb-device = "0.2.9"
usbd-serial = "0.1.1"
usbip-device = "0.1.5"

[features]
debug = ["logger/log", "scheduler/log"]
release = []
