[package]
name = "runner-host"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.4", features = ["derive"] }
data-encoding = "2.6.0"
env_logger = "0.11.3"
rand = "0.8.5"
tokio = { version = "1.37.0", features = ["full"] }
usb-device = { version = "0.3.2", optional = true }
usbd-serial = { version = "0.2.2", optional = true }
usbip-device = { version = "0.2.0", optional = true }
wasefire-board-api = { path = "../board", features = ["std"] }
wasefire-cli-tools = { path = "../cli-tools" }
wasefire-error = { path = "../error" }
wasefire-interpreter = { path = "../interpreter", optional = true }
wasefire-logger = { path = "../logger" }
wasefire-protocol-usb = { path = "../protocol-usb", features = ["device", "std"], optional = true }
wasefire-store = { path = "../store", features = ["std"] }
web-server = { path = "crates/web-server", optional = true }

[dependencies.wasefire-scheduler]
path = "../scheduler"
features = [
  "board-api-button",
  "board-api-led",
  "board-api-platform",
  "board-api-rng",
  "board-api-storage",
  "board-api-timer",
  "board-api-uart",
  "software-crypto-aes128-ccm",
  "software-crypto-aes256-gcm",
  "software-crypto-hmac-sha256",
  "software-crypto-hmac-sha384",
  "software-crypto-p256",
  "software-crypto-p384",
  "software-crypto-sha256",
  "software-crypto-sha384",
  "std",
]

[features]
default = ["usb"]
usb = [
  "dep:usb-device",
  "dep:usbd-serial",
  "dep:usbip-device",
  "dep:wasefire-protocol-usb",
  "wasefire-scheduler/board-api-platform-protocol",
  "wasefire-scheduler/board-api-usb-serial",
]
web = ["dep:web-server"]
# Exactly one is enabled by xtask.
debug = ["wasefire-logger/log", "wasefire-protocol-usb?/log", "wasefire-scheduler/log"]
release = []
# Exactly one is enabled by xtask.
native = ["wasefire-scheduler/native"]
wasm = ["dep:wasefire-interpreter", "wasefire-scheduler/wasm"]

[lints]
clippy.unit-arg = "allow"
rust.unsafe-op-in-unsafe-fn = "warn"
rust.unused-crate-dependencies = "warn"
