[package]
name = "wasm-bench"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
cortex-m = { version = "0.7.7", features = ["critical-section-single-core"], optional = true }
cortex-m-rt = { version = "0.7.3", optional = true }
embedded-alloc = { version = "0.5.1", optional = true }
nrf52840-hal = { version = "0.16.0", optional = true }
panic-rtt-target = { version = "0.1.3", optional = true }
riscv = { version = "0.11.0", features = ["critical-section-single-hart"], optional = true }
riscv-rt = { version = "0.12.1", optional = true }
rtt-target = { version = "0.5.0", optional = true }
wasefire-interpreter = { path = "../interpreter", features = ["float-types"], optional = true }

[dependencies.portable-atomic]
version = "1.6.0"
default-features = false
features = ["critical-section"]
optional = true

[dependencies.wasm3]
git = "https://github.com/wasm3/wasm3-rs.git"
default-features = false
features = ["build-bindgen", "use-32bit-slots"]
optional = true

[dependencies.wasmi]
git = "https://github.com/wasmi-labs/wasmi.git"
default-features = false
optional = true

[features]
runtime-base = ["dep:wasefire-interpreter"]
runtime-wasm3 = ["dep:wasm3"]
runtime-wasmi = ["dep:wasmi"]
target-linux = []
target-nordic = [
  "dep:cortex-m",
  "dep:cortex-m-rt",
  "dep:embedded-alloc",
  "dep:nrf52840-hal",
  "dep:panic-rtt-target",
  "dep:rtt-target",
]
target-riscv = ["dep:embedded-alloc", "dep:portable-atomic", "dep:riscv", "dep:riscv-rt"]

[profile.production]
codegen-units = 1
incremental = false
inherits = "release"
lto = true

[lints]
clippy.unit-arg = "allow"
rust.unreachable-pub = "warn"
rust.unsafe-op-in-unsafe-fn = "warn"
rust.unused-crate-dependencies = "warn"
