.box {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    margin: 2px;
}

.error {
    @extend .box;
    border-color: #d22;
    background-color: #fdd;
}

.running {
    @extend .box;
    border-color: #dd2;
    background-color: #ffd;
}

.idle {
    @extend .box;
    border-color: #2d2;
    background-color: #dfd;
}

.devices, .commands {
    li {
        margin-bottom: 5px;
    }

    li:last-child {
        margin-bottom: 0;
    }

    ul {
        margin-top: 5px;
    }
}

.columns {
    display: flex;
    margin-bottom: 5px;

    .column {
        @extend .idle;
        flex: 1;
    }
}

code {
    border: 1px solid #99f;
    border-radius: 3px;
    background-color: #ddf;
    padding: 0px 2px 0px 2px;
}
