[package]
name = "xtask"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.4", features = ["derive"] }
env_logger = "0.11.3"
log = "0.4.21"
probe-rs = "0.27.0"
rustc-demangle = "0.1.24"
serde = { version = "1.0.202", features = ["derive"] }
stack-sizes = "0.5.0"
tokio = { version = "1.40.0", features = ["full"] }
wasefire-cli-tools = { path = "../cli-tools", features = ["action", "changelog"] }
wasefire-error = { version = "0.1.3-git", path = "../error", features = ["std"] }

[lints]
clippy.literal-string-with-formatting-args = "allow"
clippy.mod-module-files = "warn"
clippy.unit-arg = "allow"
rust.unused-crate-dependencies = "warn"
