[package]
name = "ctap"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasefire = { path = "../../../crates/prelude" }
