[package]
name = "runner-nordic"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
alloc-cortex-m = "0.4.4"
cortex-m = { version = "0.7.7", features = ["critical-section-single-core"] }
cortex-m-rt = "0.7.3"
critical-section = "1.1.1"
defmt = { version = "0.3.2", optional = true }
defmt-rtt = { version = "0.4.0", optional = true }
embedded-hal = "0.2.7"
embedded-storage = "0.3.0"
nrf52840-hal = "0.16.0"
panic-abort = { version = "0.3.2", optional = true }
panic-probe = { version = "0.3.0", optional = true, features = ["print-defmt"] }
usb-device = "0.2.9"
usbd-serial = "0.1.1"
wasefire-applet-api = { path = "../api" }
wasefire-board-api = { path = "../board" }
wasefire-interpreter = { path = "../interpreter" }
wasefire-logger = { path = "../logger" }
wasefire-scheduler = { path = "../scheduler" }
wasefire-store = { path = "../store" }

[features]
debug = [
  "dep:defmt",
  "dep:defmt-rtt",
  "dep:panic-probe",
  "wasefire-board-api/defmt",
  "wasefire-logger/defmt",
  "wasefire-scheduler/defmt",
]
release = ["dep:panic-abort"]

[patch.crates-io]
defmt = { git = "https://github.com/knurling-rs/defmt" }
defmt-rtt = { git = "https://github.com/knurling-rs/defmt" }
panic-probe = { git = "https://github.com/knurling-rs/defmt" }
