[package]
name = "runner-nordic"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
alloc-cortex-m = "0.4.4"
api = { path = "../api" }
board = { path = "../board" }
cortex-m = { version = "0.7.7", features = ["critical-section-single-core"] }
cortex-m-rt = "0.7.2"
critical-section = "1.1.1"
defmt = { version = "0.3.2", optional = true }
defmt-rtt = { version = "0.4.0", optional = true }
embedded-hal = "0.2.7"
embedded-storage = "0.3.0"
interpreter = { path = "../interpreter" }
logger = { path = "../logger" }
nrf52840-hal = "0.16.0"
panic-abort = { version = "0.3.2", optional = true }
panic-probe = { version = "0.3.0", optional = true, features = ["print-defmt"] }
scheduler = { path = "../scheduler" }
store = { path = "../store" }
usb-device = "0.2.9"
usbd-serial = "0.1.1"

[features]
debug = ["dep:defmt", "dep:defmt-rtt", "dep:panic-probe", "board/defmt", "logger/defmt", "scheduler/defmt"]
release = ["dep:panic-abort"]
