[package]
name = "runner-nordic"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[dependencies]
cortex-m = { version = "0.7.7", features = ["critical-section-single-core"] }
cortex-m-rt = { version = "0.7.3", features = ["set-vtor"] }
cortex-m-semihosting = "0.5.0"
critical-section = "1.1.2"
defmt = { version = "0.3.5", optional = true }
defmt-rtt = { version = "0.4.0", optional = true }
embedded-alloc = "0.5.1"
embedded-hal = "0.2.7"
embedded-storage = "0.3.1"
header = { path = "crates/header" }
nrf52840-hal = "0.16.0"
panic-abort = { version = "0.3.2", optional = true }
panic-probe = { version = "0.3.1", features = ["print-defmt"], optional = true }
rubble = { git = "https://github.com/jmichelp/rubble.git", rev = "d545f4f" }
rubble-nrf5x = { git = "https://github.com/jmichelp/rubble.git", rev = "d545f4f", features = [
  "52840",
] }
typenum = { version = "1.17.0", default-features = false }
usb-device = "0.3.1"
usbd-serial = "0.2.0"
wasefire-applet-api = { path = "../api" }
wasefire-board-api = { path = "../board" }
wasefire-error = { path = "../error" }
wasefire-interpreter = { path = "../interpreter", optional = true }
wasefire-logger = { path = "../logger" }
wasefire-store = { path = "../store" }
wasefire-sync = { path = "../sync" }

[dependencies.wasefire-scheduler]
path = "../scheduler"
features = [
  "board-api-button",
  "board-api-crypto-aes128-ccm",
  "board-api-gpio",
  "board-api-led",
  "board-api-platform",
  "board-api-platform-update",
  "board-api-radio-ble",
  "board-api-rng",
  "board-api-storage",
  "board-api-timer",
  "board-api-uart",
  "board-api-usb-serial",
]

[features]
# Software crypto features.
# Keep in sync with the internal-software-crypto feature.
software-crypto-aes256-gcm = ["wasefire-scheduler/software-crypto-aes256-gcm"]
software-crypto-sha256 = ["wasefire-scheduler/software-crypto-sha256"]
# Exactly one is enabled by xtask.
debug = [
  "dep:defmt",
  "dep:defmt-rtt",
  "dep:panic-probe",
  "wasefire-board-api/defmt",
  "wasefire-error/defmt",
  "wasefire-logger/defmt",
  "wasefire-scheduler/defmt",
]
release = ["dep:panic-abort"]
# Exactly one is enabled by xtask.
native = ["wasefire-scheduler/native"]
wasm = ["dep:wasefire-interpreter", "wasefire-scheduler/wasm"]
# Internal features.
internal-software-crypto = ["software-crypto-aes256-gcm", "software-crypto-sha256"]

[patch.crates-io]
nrf-usbd = { git = "https://github.com/ia0/nrf-usbd.git", branch = "bump" }
