[package]
name = "common"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
thiserror = { version = "1.0.44", optional = true }
wasefire = { path = "../../../../crates/prelude", optional = true }

[features]
api = ["dep:wasefire"]
std = ["dep:thiserror"]
