[package]
name = "wasefire-applet-api"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
sealed = { version = "0.4.0", optional = true }
wasefire-applet-api-macro = { version = "0.1.0", path = "../api-macro" }

[features]
# Compiles for host or wasm (choose exactly one).
host = ["dep:sealed"]
wasm = []
# Enables multivalue support (unstable).
multivalue = ["wasefire-applet-api-macro/multivalue"]
