[package]
name = "web-server"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>", "Luca Invernizzi <invernizzi@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
anyhow = "1.0.100"
futures-util = "0.3.31"
log = { version = "0.4.28", optional = true }
opener = "0.8.3"
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["full", "rt-multi-thread", "sync"] }
warp = { version = "0.4.2", features = ["server", "websocket"] }
wasefire-logger = { path = "../../../logger" }
wasefire-protocol = { path = "../../../protocol" }
web-common = { path = "../web-common" }

[features]
log = ["dep:log", "wasefire-logger/log"]

[lints]
clippy.mod-module-files = "warn"
clippy.uninlined_format_args = "allow"
clippy.unit-arg = "allow"
rust.unused-crate-dependencies = "warn"
