[package]
name = "wasefire-store"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dev-dependencies]
tempfile = "3.3.0"

[features]
std = []
