[package]
name = "wasefire-store"
version = "0.2.1"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = true
edition = "2021"
description = "Key-value store for SLC flash storage"
repository = "https://github.com/google/wasefire"
include = ["/src"]
keywords = ["embedded", "no-std"]
categories = ["embedded", "no-std"]

[package.metadata.docs.rs]
features = ["std"]

[dev-dependencies]
tempfile = "3.8.0"

[features]
std = []
