[package]
name = "wasefire-interpreter"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
libm = { version = "0.2.6", optional = true }
lru = { version = "0.9.0", optional = true }
num_enum = { version = "0.5.10", default-features = false }
paste = "1.0.11"

[dev-dependencies]
lazy_static = "1.4.0"
wast = "54.0.1"

[features]
# Enable debugging features (only works for targets with std).
debug = []
# Use safe operations when time-of-use and time-of-check differ.
toctou = []
# Enable support for specific types.
float-types = ["dep:libm"]
vector-types = []
# Enable caching for execution.
cache = ["dep:lru"]
