[package]
name = "header"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2021"

[features]
# TODO(https://github.com/rust-lang/rust/issues/122105): Remove when fixed.
alloc = []

[lints]
clippy.mod-module-files = "warn"
clippy.unit-arg = "allow"
rust.unsafe-op-in-unsafe-fn = "warn"
rust.unused-crate-dependencies = "warn"
