[package]
name = "header"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
wasefire-common = { path = "../../../common" }
wasefire-one-of = { path = "../../../one-of" }

[features]
# Exactly one must be enabled.
board-devkit = []
board-dongle = []

[lints]
clippy.mod-module-files = "warn"
clippy.uninlined_format_args = "allow"
clippy.unit-arg = "allow"
rust.unused-crate-dependencies = "warn"
