[package]
name = "bootloader"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
cortex-m = "0.7.7"
cortex-m-rt = "0.7.5"
embedded-storage = "0.3.1"
header = { path = "../header" }
nrf52840-hal = "0.19.0"
panic-abort = "0.3.2"
wasefire-common = { path = "../../../common" }
wasefire-one-of = { path = "../../../one-of" }

[features]
# Enabled by xtask.
single-sided = []
# Exactly one is enabled by xtask.
board-devkit = ["header/board-devkit"]
board-dongle = ["header/board-dongle"]
board-makerdiary = ["header/board-makerdiary"]

[profile.release]
codegen-units = 1
lto = true
panic = "abort"

[lints]
clippy.mod-module-files = "warn"
clippy.uninlined_format_args = "allow"
clippy.unit-arg = "allow"
rust.unused-crate-dependencies = "warn"
