[package]
name = "host"
version = "0.1.0"
authors = ["Julien Cretin <cretin@google.com>"]
license = "Apache-2.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.54", features = ["derive"] }
common = { path = "../common" }
data-encoding = "2.9.0"
signal-hook = "0.4.1"
tokio = { version = "1.49.0", features = ["full"] }
wasefire-cli-tools = { path = "../../../../crates/cli-tools", features = ["action"] }
wasefire-error = { path = "../../../../crates/error" }
wasefire-protocol = { path = "../../../../crates/protocol", features = ["host"] }
wasefire-wire = { path = "../../../../crates/wire" }

[lints]
clippy.mod-module-files = "warn"
clippy.unit-arg = "allow"
rust.unreachable-pub = "warn"
rust.unused-crate-dependencies = "warn"
