name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: 45 3 * * 2 # every Tuesday at 3:45 UTC

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  test-build:
    uses: abcxyz/actions/.github/workflows/maybe-build-docker.yml@dc53ac6837416a5942da3d494b9ea6c0997b7c59
    with:
      dockerfile: scripts/Dockerfile
      github_image_name: ghcr.io/${{ github.repository }}/ci
  test-check:
    runs-on: ubuntu-latest
    needs: [test-build]
    container:
      image: ghcr.io/${{ github.repository }}/ci:${{ needs.test-build.outputs.docker_tag }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - run: set -x; pwd; ls -al; env
    # permissions:
    #   contents: read
    #   packages: write
    # steps:
    #   - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    #   - run: |
    #       echo "${{ secrets.GITHUB_TOKEN }}" \
    #       | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    #   - run: docker build . --file scripts/Dockerfile --tag ghcr.io/google/wasefire/ci:test
    #   - run: docker push ghcr.io/google/wasefire/ci:test
    #   - if: always()
    #     run: rm /home/runner/.docker/config.json
