name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 45 3 * * 2 # every Tuesday at 3:45 UTC

jobs:
  changelog:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: ./scripts/ci-changelog.sh
  ubuntu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/cache@v3
        if: github.event_name != 'schedule'
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            .root/
            target/
          key: ${{ hashFiles('rust-toolchain.toml') }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ hashFiles('rust-toolchain.toml') }}
      - run: sudo apt-get update
      - run: ./scripts/setup.sh
      - run: ./scripts/ci.sh
