name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 45 3 * * 2 # every Tuesday at 3:45 UTC

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # This is needed to ensure CHANGELOG.md are up-to-date.
          fetch-depth: 0
      - uses: actions/cache@v3
        if: github.event_name != 'schedule'
        with:
          path: .root/
          key: ${{ hashFiles('rust-toolchain.toml', 'scripts/wrapper.sh') }}
      - run: sudo apt-get update
      - run: ./scripts/setup.sh
      - run: ./scripts/ci.sh
