name: Github Pages

on:
  push:
    branches:
      - main
    paths:
      - 'book/**'

permissions: {}

jobs:
  pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - run: sudo apt-get update
      - run: ./scripts/setup.sh
      - run: ./scripts/pages.sh
